@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main-background {
    min-height: 100vh;
    background-image: url("/background.jpeg");
    background-size: cover;
}
